<h1>Yay? Studying!</h1>
<br>
<% if @round.incorrect_cards.empty? %>
  "Yay! You win! Finished!"
   You got <%= @round.correct_cards_on_first_attempt %> / <%= @round.deck.cards.length %> correct on the first try, using <%= @round.total_attempts %> attempts.
<% else %>
  <%= render template: "cards/_show" %>
<% end %>

<% if @card %>
  <p> Previous question: <%= @card.question %> </p>
  <p> Previous answer: <%= @card.answer %> </p>
<% end %>
